/* CSS MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

.conteiner__tarjetitas {
  border: solid rgb(58, 228, 7) 3px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .conteiner__tarjetitas {
    display: flex;
    flex-direction: column;
  }
}
.conteiner__tarjetitas .tarjetitas {
  border: solid rgba(80, 34, 116, 0.7333333333) 5px;
  padding: 0.5rem;
  max-width: 70%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .conteiner__tarjetitas .tarjetitas {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
.conteiner__tarjetitas .tarjetitas .presu {
  display: block;
  font-family: "Roboto" sans-serif;
  font-size: large;
  background-color: rgba(80, 34, 116, 0.7333333333);
  color: white;
  padding: 0.25rem;
  border-radius: 7px;
  text-align: center;
}
.conteiner__tarjetitas .tarjetitas h5 {
  color: white;
}
.conteiner__tarjetitas .tarjetitas h4 {
  background-color: gray;
}
.conteiner__tarjetitas .tarjetitas1 {
  grid-column: 1/5;
  grid-row: 1/2;
}
.conteiner__tarjetitas .tarjetitas2 {
  grid-column: 5/9;
  grid-row: 2/3;
}
.conteiner__tarjetitas .tarjetitas3 {
  grid-column: 1/5;
  grid-row: 3/4;
}
.conteiner__tarjetitas .tarjetitas3 h5 {
  text-align: center;
}
.conteiner__tarjetitas .tarjetitas4 {
  grid-column: 5/9;
  grid-row: 4/4;
}
.conteiner__tarjetitas .titulo__tarjetitas {
  background-color: gray;
  border-radius: 7px;
}
.conteiner__tarjetitas .separador {
  grid-column: 1fr;
}

.redes {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3rem;
}
.redes .img__redes {
  max-width: 50px;
}

.footer {
  background-color: rgb(168, 160, 160);
}

.card-text {
  background-color: rgba(80, 34, 116, 0.7333333333);
  color: white;
  font-size: 18px;
}

.card-header {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.mail {
  font-size: 20px;
  -webkit-text-decoration: double;
          text-decoration: double;
  color: rgba(80, 34, 116, 0.7333333333);
}

.conteiner__main .conteiner__lista {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  background-color: black;
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
}
.conteiner__main .conteiner__lista .lista__filtros {
  flex-wrap: wrap;
  align-self: center;
}
.conteiner__main .conteiner__lista .item__lista {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .conteiner__main .conteiner__lista {
    order: 3;
  }
}
.conteiner__main .conteiner__item {
  display: flex;
}

nav {
  padding: 2rem;
  background-image: url("../img/bannerOnepiece.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 20%;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;
}
nav .logo {
  max-height: 150px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  nav .logo {
    display: none;
  }
}
nav .logo:hover, nav .logo :active {
  opacity: 0.75;
}
@media screen and (max-width: 992px) {
  nav .logo {
    display: none;
  }
}
nav .cont__menu {
  background-color: rgba(80, 34, 116, 0.7333333333);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 7px;
  display: flex;
  position: relative;
  width: 90%;
  justify-content: space-between;
}
nav .cont__menu .navbar-brand {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif JP", serif;
  padding: 0.5rem;
}
@media screen and (max-width: 992px) {
  nav .cont__menu .navbar-brand {
    padding: 0;
  }
}
nav .cont__menu .contenedor__logeo__tb {
  display: none;
}
@media screen and (max-width: 992px) {
  nav .cont__menu .contenedor__logeo__tb {
    display: block;
    padding: 1rem;
    right: 0;
  }
}
nav .cont__menu .contenedor__logeo__tb .logeo {
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
nav .cont__menu .contenedor__logeo__tb .carrito {
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
nav .cont__menu .contenedor__logeo__tb:hover {
  transform: scale(1.1);
}
nav .cont__menu .contenedor__logeo__tb .leyenda__logeo {
  font-family: "Roboto";
  font-size: medium;
  background-color: transparent;
  color: white;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  nav .cont__menu .contenedor__logeo__tb .leyenda__logeo {
    display: none;
  }
}
nav .cont__menu .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.733);
}
nav .cont__menu .contenedor__logeo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  nav .cont__menu .contenedor__logeo {
    display: none;
  }
}
nav .cont__menu .contenedor__logeo .logeo {
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
nav .cont__menu .contenedor__logeo .carrito {
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
nav .cont__menu .contenedor__logeo:hover {
  transform: scale(1.1);
}
nav .cont__menu .contenedor__logeo .leyenda__logeo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: white;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  nav .cont__menu .contenedor__logeo .leyenda__logeo {
    display: none;
  }
}
nav .cont__menu .submenu__link {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 30px;
}
nav .cont__menu .submenu__link:hover, nav .cont__menu .submenu__link :active {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgb(195, 5, 5);
  font-weight: 500;
  padding: 30px;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}
nav .navbar-nav {
  gap: 2rem;
  margin: 0.5rem;
}

.form-check {
  margin: 1rem;
}

.form-label {
  color: white;
  font-size: 1rem;
  margin: 0.5rem;
}

.form-check-label {
  color: white;
}

.btn__registro {
  margin-top: 0;
}

.flag {
  margin-bottom: 1rem;
}

.form {
  margin: 0.5rem;
  border: solid #fc4b08 3px;
}

hr {
  margin: 0.5rem;
}

.conteiner_contacto {
  border: solid yellow 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .conteiner_contacto {
    flex-direction: column;
  }
}
.conteiner_contacto .titulos {
  color: white;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  text-align: center;
  border-bottom: solid yellow 1px;
}
.conteiner_contacto .form__contac {
  flex-grow: 1;
  margin: 1rem;
  border: solid yellow 3px;
  justify-content: center;
  padding: 0.5rem;
}
.conteiner_contacto .form__contac .btn__enviar {
  margin: 0.5rem;
  display: inline-block;
}
.conteiner_contacto .form__contac .tyc {
  font-size: 12px;
}
.conteiner_contacto .cont__mapa {
  margin: 2rem;
  padding: 0.5rem;
  justify-content: center;
  border: solid yellow 3px;
}
@media screen and (max-width: 992px) {
  .conteiner_contacto .cont__mapa .mapa {
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .conteiner_contacto .cont__mapa .mapa {
    height: 200px;
    width: 200px;
    max-width: 100%;
  }
}
.conteiner_contacto .cont__mapa .mapa__link {
  display: none;
}

.redirect {
  z-index: 1;
}

.form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  background-color: #e0ecfb;
  box-shadow: rgba(0, 0, 0, 0.08) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color 0.3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
body p {
  background-color: white;
}

.encabezado {
  display: flex;
  max-width: 100%;
  margin: 1rem;
  justify-content: center;
  border: solid white 2px;
  flex-direction: column;
  align-items: stretch;
}
.encabezado .encabezado__titulo {
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  background-color: rgba(80, 34, 116, 0.7333333333);
  max-width: 100%;
}

.encabezado__titulo2 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  background-color: rgba(80, 34, 116, 0.7333333333);
  max-width: 100%;
  margin-bottom: 0;
}

.link {
  display: block;
  font-family: "Roboto" sans-serif;
  font-size: large;
  background-color: white;
  color: black;
  padding: 0.25rem;
  border-radius: 7px;
  position: absolute;
  bottom: -30px;
  left: 10px;
  margin: 1rem;
}
@media screen and (max-width: 1080px) {
  .link {
    left: -80px;
  }
}
@media screen and (max-width: 992px) {
  .link {
    left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .link {
    display: non;
  }
}

.button {
  height: 60px;
  width: 200px;
  background-color: #ffffff;
  border: 2px solid rgba(80, 34, 116, 0.7333333333);
  color: #000000;
  transition: 0.6s;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  bottom: -32px;
  right: -20px;
}

.button span {
  transform: translateX(10px);
  transition: 0.5s;
}

.button svg {
  transform: translateX(-300px);
  transition: 0.6s;
  z-index: 3;
  height: 20px;
}

.button:hover {
  width: 60px;
  background-color: rgba(51, 34, 51, 0.815);
  box-shadow: 20px 20px 96px #bebebe, -20px -20px 96px #ffffff;
}

.button:hover svg {
  transform: translateX(-5px);
}

.button:hover span {
  transform: translateY(70px);
  font-size: 0.1rem;
}

.main {
  display: block;
}
.main .conteiner__main {
  align-items: center;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main {
    display: inline-block;
    padding: 1rem;
  }
}
.main .conteiner__main .conteiner__combos {
  flex-direction: column;
  display: flex;
}
.main .conteiner__main .combo {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  padding: 1rem;
  border: solid red 3px;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo {
    flex-direction: column;
  }
}
.main .conteiner__main .combo .texto__combo {
  color: white;
  font-size: 40px;
  border-radius: 7px;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  text-align: center;
  background-color: black;
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
  transform: rotate(-80deg);
  transition: 2seg;
}
.main .conteiner__main .combo .texto__combo:hover {
  color: red;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo .texto__combo {
    transform: rotate(0deg);
    order: 1;
    font-size: 35px;
  }
  .main .conteiner__main .combo .texto__combo:hover {
    transform: scale(0.9);
  }
}
.main .conteiner__main .combo .texto__combo__rot {
  transform: rotate(80deg);
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo .texto__combo__rot {
    transform: rotate(0deg);
  }
}
.main .conteiner__main .combo img {
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
  max-width: 540px;
}
.main .conteiner__main .combo img:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo img {
    padding: 0;
    order: 2;
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) and (max-width: 480px) {
  .main .conteiner__main .combo img {
    max-width: 250px;
  }
}
.main .conteiner__main .contenedor__lista {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  background-color: black;
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
}
.main .conteiner__main .contenedor__lista .lista {
  flex-wrap: wrap;
  align-self: center;
}
.main .conteiner__main .contenedor__lista .item__lista {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .contenedor__lista {
    order: 3;
  }
}/*# sourceMappingURL=styles.css.map */