/* CSS MAIN */
@import "./partials/media-queris";
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/contacto";
body{
    p{
        background-color: white;
    }
    background-color: black;
    font-family: "Roboto", sans-serif;
    nav {
        padding: 2rem;
        background-image: url("../img/bannerOnepiece.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 20%;
        opacity: 0.8;
        display: flex;
        align-items: flex-end;

        .logo{
            height: 150px;
            &:hover,:active{
                opacity: 0.75;
            }}
            // .menu {
            //     margin: auto;
            //     width: 100%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;}
            .submenu{
                font-family: 'Nunito', sans-serif;
                font-size: 20px;
                color:rgb(255, 255, 255);
                font-weight: 500;
                padding: 30px;
                &:hover,:active{
                    font-family: 'Nunito', sans-serif;
                    font-size: 20px;
                    color:rgb(195, 5, 5);
                    font-weight: 500;
                    padding: 30px;
                    transform: translateY(-5px);
                    transition: transform 0.2s ease;
                }}
            .submenuContainer{
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                height: 60px;
                background-color: $maincolor;
                border-radius: 7px;
                display: flex;
                align-items: center;
                width: 80%;
                margin: 0;
                @include tablet{
                    text-align: center;
                    // background-color:transparent;
                    }
                }
            }
    .encabezado{
        padding: 1rem;
        .encabezado__titulo h1{
            border-radius: 7px;
            display: block;
        }
        .encabezado__titulo{
            background-color: black;
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            background-color: $maincolor;
        }}
    .link{
        display: block;
        font-family: "Roboto" sans-serif;
        font-size: large;
        background-color:$maincolor;
        color: white;
        padding: .5rem;
        border-radius: 7px;
        position: absolute;
        bottom: -20px;
        left: 10px;
    }
    .main{
        display: block;
        }
        .conteiner__main{
            // display: flex;
            align-items: center;
            @include tablet{
                display: inline-block;
                padding: 1rem;
            }
            .conteiner__combos{
                flex-direction: column;
                display: flex;
                border-radius: red 1px;
            }
            .combo{
                align-items: center;
                justify-content: space-evenly;
                display: flex;
                padding: 1rem;
                border: solid red 3px;
                @include tablet{
                    flex-direction: column;
                }
                h3{
                    color: white;
                    border-radius: 7px;
                    padding: 1rem;
                    display: flex;
                    background-color: $maincolor;
                    @include tablet{
                        flex-direction: initial;
                    }
                }
            }
            img{
                padding: 1.5rem;
            }
            .contenedor__lista{
                flex-wrap: wrap;
                display: flex;
                position: relative;
                background-color: white;
                    .lista{
                        flex-wrap: wrap;
                        
                        align-self: center;
                }
                    .item__lista{
                        padding: 1rem;
                        display: block;
                }}
        }
    }
/* CSS CONTACTO */
    /* CSS ENVIO DE FORMULARIO */
    .form-label{
        color: white;
        font-size: larger;
    }
    .form-check-label{
        color: white;
    }