/* CSS MAIN */
@import "./partials/media-queris";
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/servicios";
@import "./partials/footer";
@import "./partials/productos";
@import "./partials/header";
@import "./partials/login";
body{
    p{
        background-color: white;
    }
    background-color: black;
    font-family: "Roboto", sans-serif;
    }

    .encabezado{
        display: flex;
        max-width: 100%;
        margin: 1rem;
        justify-content: center;
        border: solid white 2px;
        flex-direction: column;
        align-items: stretch;

        .encabezado__titulo{
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            background-color: $maincolor;
            max-width: 100%;
        }}
        .encabezado__titulo2{
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            background-color: $maincolor;
            max-width: 100%;
            margin-bottom: 0;
        }
    .link{
        display: block;
        font-family: "Roboto" sans-serif;
        font-size: large;
        background-color:$maincolor;
        color: white;
        padding: 0.25rem;
        border-radius: 7px;
        position: absolute;
        bottom: -30px;
        left: 10px;
        margin: 1rem;
    }
    .main{
        display: block;
        .conteiner__main{
            align-items: center;
            @include tablet{
                display: inline-block;
                padding: 1rem;
            }
            .conteiner__combos{
                flex-direction: column;
                display: flex;
            }
            .combo{
                align-items: center;
                display: flex;
                padding: 1rem;
                border: solid red 3px;
                @include tablet{
                    flex-direction: column;
                }
                h3{
                    color: white;
                    border-radius: 7px;
                    padding: 1rem;
                    margin: auto;
                    display: flex;
                    background-color: $maincolor;
                    @include tablet{
                        order: 1;
                    }
                }
                img{
                    border: solid $maincolor 4px;
                    max-width: 540px;
                    @include tablet{
                        padding: 0;
                        order: 2;
                        max-width: 400px;
                        @include mobile{
                            max-width: 250px
                        }
                    }}}

            .contenedor__lista{
                flex-wrap: wrap;
                display: flex;
                position: relative;
                background-color: white;
                border: solid $maincolor 4px;
                    .lista{
                        flex-wrap: wrap;
                        align-self: center;
                }
                    .item__lista{
                        padding: 1rem;
                        text-decoration: none;
                        font-family: "Roboto", sans-serif;
                        font-size: 20px;
                }
                @include tablet{
                    order: 3;
                }
            }
        }
    }