/* CSS MAIN */
@import "./partials/media-queris";
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/servicios";
@import "./partials/footer";
@import "./partials/header";
@import "./partials/login";
@import "./partials/productos";;
body{
    background-color: black;
    font-family: "Roboto", sans-serif;
    }

    .encabezado{
        display: flex;
        max-width: 100%;
        margin: 1rem;
        justify-content: center;
        border: solid white 2px;
        flex-direction: column;
        align-items: stretch;

        .encabezado__titulo{
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            background-color: $maincolor;
            max-width: 100%;
        }}
        .encabezado__titulo2{
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            background-color: $maincolor;
            max-width: 100%;
            margin-bottom: 0;
        }
    .link{
        font-family: "Roboto" sans-serif;
        font-size: 16px;
        background-color: white;
        color: black;
        padding: 0.5rem;
        border-radius: 7px;
        border: solid $maincolor 2px;
        position: absolute;
        bottom: -40px;
        left: 10px;
        margin: 1rem;
        &:hover{
            background-color: black;
            color: white;

        }
        @include move{
            left: -80px;
        }
        @include tablet {
            left: 10px;    
        }
        @include mobile{
            transform: rotate(-90deg);
            left: -80px;
            bottom: 20px;
        }
    }

    .button {
        height: 60px;
        width: 200px;
        background-color: #ffffff;
        border: 2px solid $maincolor;
        color: #000000;
        transition: .6s;
        font-size: 15px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        bottom: -32px;
        right: -20px;
    }
    
    .button span {
        transform: translateX(10px);
        transition: .5s;
    }

    .button svg {
        transform: translateX(-300px);
        transition: .6s;
        z-index: 3;
        height: 20px;
    }
    
    .button:hover {
        width: 60px;
        background-color: rgba(51, 34, 51, 0.815);
        box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
    }
    
    .button:hover svg {
        transform: translateX(-5px);
    }
    
    .button:hover span {
        transform: translateY(70px);
        font-size: .1rem;
    }



    .main{
        .conteiner__main{
            align-items: center;
            @include tablet{
                display: inline-block;
                padding: 1rem;
            }
            .conteiner__combos{
                flex-direction: column;
                display: flex;
            }
            .combo{
                align-items: center;
                justify-content: space-evenly;
                display: flex;
                padding: 1rem;
                border: solid $maincolor 3px;
                @include tablet{
                    flex-direction: column;
                }
                .texto__combo{
                    color: white;
                    font-size: 40px;
                    border-radius: 7px;
                    justify-content: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    display: flex;
                    text-align: center;
                    background-color: black;
                    border: solid $maincolor 4px;
                    transform: rotate(-80deg);
                    transition: 2seg;
                    &:hover{
                        color:red;
                    }
                    @include tablet{
                        transform: rotate(0deg);
                        &:hover{
                            transform: scale(0.9);
                            }
                        order: 1;
                        font-size: 35px;
                    }
                }
                .texto__combo__rot{
                    transform: rotate(80deg);
                    @include tablet{
                        transform: rotate(0deg);
                    }
                }
                img{
                    border: solid $maincolor 4px;
                    max-width: 540px;
                    &:hover{
                    transform: scale(0.9);
                    }
                    @include tablet{
                        padding: 0;
                        order: 2;
                        max-width: 400px;
                        @include mobile{
                            max-width: 250px
                        }
                    }}}

            .contenedor__lista{
                margin-bottom:  2rem;
                flex-wrap: wrap;
                display: flex;
                position: relative;
                background-color: black;
                border: solid $maincolor 4px;
                    .lista{
                        flex-wrap: wrap;
                        align-self: center;
                }
                    .item__lista{
                        color: white;
                        padding: 1rem;
                        text-decoration: none;
                        font-family: "Roboto", sans-serif;
                        font-size: 20px;
                }
                @include tablet{
                    order: 3;
                }
            }
        }
    }    