/* CSS MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

.conteiner__tarjetitas {
  border: solid rgb(58, 228, 7) 3px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .conteiner__tarjetitas {
    display: flex;
    flex-direction: column;
  }
}
.conteiner__tarjetitas .tarjetitas {
  border: solid rgba(80, 34, 116, 0.7333333333) 5px;
  padding: 0.5rem;
  max-width: 70%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .conteiner__tarjetitas .tarjetitas {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
.conteiner__tarjetitas .tarjetitas .presu {
  display: block;
  font-family: "Roboto" sans-serif;
  font-size: large;
  background-color: rgba(80, 34, 116, 0.7333333333);
  color: white;
  padding: 0.25rem;
  border-radius: 7px;
  text-align: center;
}
.conteiner__tarjetitas .tarjetitas h5 {
  color: white;
}
.conteiner__tarjetitas .tarjetitas h4 {
  background-color: gray;
}
.conteiner__tarjetitas .tarjetitas1 {
  grid-column: 1/5;
  grid-row: 1/2;
}
.conteiner__tarjetitas .tarjetitas2 {
  grid-column: 5/9;
  grid-row: 2/3;
}
.conteiner__tarjetitas .tarjetitas3 {
  grid-column: 1/5;
  grid-row: 3/4;
}
.conteiner__tarjetitas .tarjetitas3 h5 {
  text-align: center;
}
.conteiner__tarjetitas .tarjetitas4 {
  grid-column: 5/9;
  grid-row: 4/4;
}
.conteiner__tarjetitas .titulo__tarjetitas {
  background-color: gray;
  border-radius: 7px;
}
.conteiner__tarjetitas .separador {
  grid-column: 1fr;
}

.redes {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3rem;
}
.redes .img__redes {
  max-width: 50px;
}

.footer {
  background-color: rgb(168, 160, 160);
}

.card-text {
  background-color: rgba(80, 34, 116, 0.7333333333);
  color: white;
  font-size: 18px;
}

.card-header {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.mail {
  font-size: 20px;
  -webkit-text-decoration: double;
          text-decoration: double;
  color: rgba(80, 34, 116, 0.7333333333);
}

.cont__product .subcont__product {
  display: inline-flex;
}

nav {
  padding: 2rem;
  background-image: url("../img/bannerOnepiece.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 20%;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;
}
nav .logo {
  max-height: 150px;
}
@media screen and (max-width: 480px) {
  nav .logo {
    display: none;
  }
}
nav .logo:hover, nav .logo :active {
  opacity: 0.75;
}
@media screen and (max-width: 992px) {
  nav .logo {
    display: none;
  }
}
nav .cont__menu {
  background-color: rgba(80, 34, 116, 0.7333333333);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 7px;
  display: flex;
  position: relative;
  width: 90%;
  justify-content: space-between;
}
nav .cont__menu .navbar-brand {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif JP", serif;
  padding: 0.5rem;
}
@media screen and (max-width: 992px) {
  nav .cont__menu .navbar-brand {
    padding: 0;
  }
}
nav .cont__menu .contenedor__logeo__tb {
  display: none;
}
@media screen and (max-width: 992px) {
  nav .cont__menu .contenedor__logeo__tb {
    display: block;
  }
}
nav .cont__menu .contenedor__logeo__tb .logeo {
  height: 50px;
  padding: 0.5rem;
}
nav .cont__menu .contenedor__logeo__tb .carrito {
  height: 50px;
  padding: 0.5rem;
}
nav .cont__menu .contenedor__logeo__tb:hover {
  transform: scale(1.1);
}
nav .cont__menu .contenedor__logeo__tb .leyenda__logeo {
  font-family: "Roboto";
  font-size: medium;
  background-color: transparent;
  color: white;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  nav .cont__menu .contenedor__logeo__tb .leyenda__logeo {
    display: none;
  }
}
nav .cont__menu .submenu__link {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 30px;
}
nav .cont__menu .submenu__link:hover, nav .cont__menu .submenu__link :active {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgb(195, 5, 5);
  font-weight: 500;
  padding: 30px;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}
nav .navbar-nav {
  gap: 2rem;
  margin: 0.5rem;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.733);
}

.contenedor__logeo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .contenedor__logeo {
    display: none;
  }
}
.contenedor__logeo .logeo {
  height: 50px;
  padding: 0.5rem;
}
.contenedor__logeo .carrito {
  height: 50px;
  padding: 0.5rem;
}
.contenedor__logeo:hover {
  transform: scale(1.1);
}
.contenedor__logeo .leyenda__logeo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: white;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .contenedor__logeo .leyenda__logeo {
    display: none;
  }
}

.form-check {
  margin: 1rem;
}

.form-label {
  color: white;
  font-size: 1rem;
  margin: 0.5rem;
}

.form-check-label {
  color: white;
}

.btn__registro {
  margin-top: 0;
}

.flag {
  margin-bottom: 1rem;
}

.form {
  margin: 0.5rem;
  border: solid #fc4b08 3px;
}

hr {
  margin: 0.5rem;
}

.conteiner_contacto {
  border: solid yellow 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .conteiner_contacto {
    flex-direction: column;
  }
}
.conteiner_contacto .titulos {
  color: white;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  text-align: center;
  border-bottom: solid yellow 1px;
}
.conteiner_contacto .form__contac {
  flex-grow: 1;
  margin: 1rem;
  border: solid yellow 3px;
  justify-content: center;
  padding: 0.5rem;
}
.conteiner_contacto .form__contac .btn__enviar {
  margin: 0.5rem;
  display: inline-block;
}
.conteiner_contacto .form__contac .tyc {
  font-size: 12px;
}
.conteiner_contacto .cont__mapa {
  margin: 2rem;
  padding: 0.5rem;
  justify-content: center;
  border: solid yellow 3px;
}
@media screen and (max-width: 992px) {
  .conteiner_contacto .cont__mapa .mapa {
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .conteiner_contacto .cont__mapa .mapa {
    height: 200px;
    width: 200px;
  }
}
.conteiner_contacto .cont__mapa .mapa__link {
  display: none;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
body p {
  background-color: white;
}

.encabezado {
  display: flex;
  max-width: 100%;
  margin: 1rem;
  justify-content: center;
  border: solid white 2px;
  flex-direction: column;
  align-items: stretch;
}
.encabezado .encabezado__titulo {
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  background-color: rgba(80, 34, 116, 0.7333333333);
  max-width: 100%;
}

.encabezado__titulo2 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  background-color: rgba(80, 34, 116, 0.7333333333);
  max-width: 100%;
  margin-bottom: 0;
}

.link {
  display: block;
  font-family: "Roboto" sans-serif;
  font-size: large;
  background-color: rgba(80, 34, 116, 0.7333333333);
  color: white;
  padding: 0.25rem;
  border-radius: 7px;
  position: absolute;
  bottom: -30px;
  left: 10px;
  margin: 1rem;
}

.main {
  display: block;
}
.main .conteiner__main {
  align-items: center;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main {
    display: inline-block;
    padding: 1rem;
  }
}
.main .conteiner__main .conteiner__combos {
  flex-direction: column;
  display: flex;
}
.main .conteiner__main .combo {
  align-items: center;
  display: flex;
  padding: 1rem;
  border: solid red 3px;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo {
    flex-direction: column;
  }
}
.main .conteiner__main .combo h3 {
  color: white;
  border-radius: 7px;
  padding: 1rem;
  margin: auto;
  display: flex;
  background-color: rgba(80, 34, 116, 0.7333333333);
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo h3 {
    order: 1;
  }
}
.main .conteiner__main .combo img {
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
  max-width: 540px;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .combo img {
    padding: 0;
    order: 2;
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) and (max-width: 480px) {
  .main .conteiner__main .combo img {
    max-width: 250px;
  }
}
.main .conteiner__main .contenedor__lista {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  background-color: white;
  border: solid rgba(80, 34, 116, 0.7333333333) 4px;
}
.main .conteiner__main .contenedor__lista .lista {
  flex-wrap: wrap;
  align-self: center;
}
.main .conteiner__main .contenedor__lista .item__lista {
  padding: 1rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .main .conteiner__main .contenedor__lista {
    order: 3;
  }
}/*# sourceMappingURL=styles.css.map */