    .main__form{
      border: solid $maincolor 3px;
    }
    .form-check{
        margin: 1rem;
    }
    .form-label{
        color: white;
        font-size: 1rem;
        margin: 0.5rem;
        }
        .form-check-label{
            color: white;
        }
    
    .btn__registro{
        margin-top: 0;
    }
    .flag{
        margin-bottom: 1rem;
    }
    .form{
    margin: .5rem;
    }
    hr{
    margin: 0.5rem;
    }

    .cont__enviar__form{
      display: flex;
      background-color: black;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      .button__filtros{
        display: flex;
        background-color: transparent;
        border: solid $maincolor 2px;
        align-items: center;
        right: 50%;
        padding: 1rem;
        margin: 1rem;
        &:hover{
            background-color: $maincolor;
            border: solid white 2px;
                            }

    }

    }

    // CSS para la parte de Contactanos

    .conteiner_contacto{
        border: solid $maincolor 3px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include tablet{
            flex-direction: column;
        }

        
        .titulos{
            color: white;
            background-color: transparent;
            font-family: "Roboto", sans-serif;
            font-size: 28px;
            text-align: center;
            border-bottom: solid $maincolor 1px;
            
        }

        .form__contac{
            flex-grow: 1;
            margin: 1rem;
            border: solid $maincolor 3px;
            justify-content: center;
            padding: 0.5rem;


            .btn__enviar{
                margin: 0.5rem;
                display: inline-block;
                background-color: transparent;
                border: solid $maincolor 2px;
                &:hover{
                  background-color: $maincolor;
                  border: solid white 2px;
                                  }
            }
            .tyc{
                font-size: 9px;
            }
        }

        .cont__mapa{
            margin: 2rem;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid $maincolor 3px;
            .mapa{
                @include tablet{
                    height: 350px;
                    width: 350px;
                }
                @include mobile{
                    height: 200px;
                    width: 200px;
                    max-width: 100%;
                }
            }
            .mapa__link{
                display: none;
            }
        }
    }

    //CSS para Inicio Sesion

    .redirect{
        z-index: 1;
    }
    .form-box {
        max-width: 300px;
        background: #f1f7fe;
        overflow: hidden;
        border-radius: 16px;
        color: #010101;
      }
      .form2 {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 32px 24px 24px;
        gap: 16px;
        text-align: center;
      }
      /*Form text*/
      .title {
        font-weight: bold;
        font-size: 1.6rem;
      }
      .subtitle {
        font-size: 1rem;
        color: #666;
      }
      /*Inputs box*/
      .form-container {
        overflow: hidden;
        border-radius: 8px;
        background-color: #fff;
        margin: 1rem 0 .5rem;
        width: 100%;
      }
      .input {
        background: none;
        border: 0;
        outline: 0;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #eee;
        font-size: .9rem;
        padding: 8px 15px;
      }
      .form-section {
        padding: 16px;
        font-size: .85rem;
        background-color: #e0ecfb;
        box-shadow: rgb(0 0 0 / 8%) 0 -1px;
      }
      .form-section a {
        font-weight: bold;
        color: #0066ff;
        transition: color .3s ease;
      }
      .form-section a:hover {
        color: #005ce6;
        text-decoration: underline;
      }
      /*Button*/
      .form button {
        background-color: #0066ff;
        color: #fff;
        border: 0;
        border-radius: 24px;
        padding: 10px 16px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color .3s ease;
      }
      .form button:hover {
        background-color: #005ce6;
      }

      .main__inicio__sesion{
        display: flex;
        justify-content: center;
      }
  

      .inicio__sesion{
        align-items: center;
        background-color: black;
        border: solid $maincolor 3px;

        .title{
          color: white;
          font-family: 'Noto Serif JP', serif;
          font-size: 30px;
        }
      }



          // CSS para la page de carga fallida

    .cont__carga__fallida{
      display: flex;
      position: relative;
      background-color: black;
      height: 100vh;
      justify-content: center;
      align-items: center;
      border: $maincolor solid 3px;
      flex-direction: column;

      .descripcion__producto{
          display: flex;
          font-size: 30px;
          padding: 1rem;
          border-radius: 7px;
          font-family: "nunito";
          color: black;
          top: 50vh;
          right: 50vh;
          text-align: center;
          background-color: white;
      }
      .button__filtros{
          display: flex;
          position: absolute;
          background-color: transparent;
          border: solid $maincolor 2px;
          align-items: center;
          right: 50%;
          padding: 1rem;
          margin: 1rem;
          &:hover{
              background-color: $maincolor;
              border: solid white 2px;
                              }

      }
  }